@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 17, 17, 17;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.navbar-fixed {
  @apply fixed z-[999] bg-secondary bg-opacity-80;
  backdrop-filter: blur(5px);
  @apply border-b border-borderColor;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-primary;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.logo {
  background-image: url("/photo/logo1.jpg")
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: #000;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #111;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #000;;
  border-radius: 10px;
  border: 2px solid #3e3e3e;
}

.swiper {
  width: 100%;
  height: 100%;
}

